everytldr.com {
	handle /api/* {
		reverse_proxy backend:8080
	}

	handle {
		reverse_proxy frontend:3000 {
			header_up X-Forwarded-Host {host}
			header_up X-Forwarded-Port "443"
		}
	}
}

www.everytldr.com {
	redir https://everytldr.com{uri} permanent
}

import /etc/caddy/conf.d/*.caddy
